{{ define "main" }}
<div class="homecontainer">
  <div style="height: 10rem; display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <div style="width: 10rem; min-height: 10rem; max-height: 10rem; border-radius: 100%; background-color: #f0dec7; "></div>
    <p>Game designer</p>
    <div style="display: flexbox;">
      <a href="https://www.linkedin.com/in/victor-touroul-6800a1261/?skipRedirect=true">-Linkedin-</a>
      <a href="https://colorivine.itch.io/">-Itch.io-</a>
    </div>
  </div>
</div>

{{ end }}
