{{ define "main" }}
  <div class="term">
  <div class="termhead">
  <h3>{{ .Title }}</h3>
  {{ .Content }}
  </div>
  <div class="cardgrid">
  {{ range .Pages }}
    <div class="card" style="cursor: pointer;" onclick="window.location={{ .RelPermalink }};">
      {{ with .Resources.GetMatch "vignette.*" }}
        {{ with .Fill "100x100 webp" }}
          <img class="cardimage" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="">
        {{ end }}
      {{ end }}
      <div class="cardtitle">{{ .LinkTitle }}</div>
      <div class="timeshort">
        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_short" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </div>
    </div>
  {{ end }}
  </div>
  </div>
{{ end }}
