@font-face {
    font-family: "Climate Crisis";
    src: url('fonts/ClimateCrisis-Regular-VariableFont_YEAR.woff') format('truetype');
}

@font-face {
    font-family: "Awe mono";
    src: url("fonts/Awe Mono Gold.woff") format('truetype');
}

* {
  scrollbar-color: #b68f7d rgba(255, 255, 255, 0);
}

body {
  overflow-y: scroll;
  padding: 0;
  background-color: antiquewhite;
  color: #2c1b17;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  font-family: "Nunito", Times, serif;
  font-size: larger;
}

header {
  color: #2c1b17;
  margin: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 300%;
  font-family: "Awe mono", sans-serif;
}

footer {
  border: 1px solid #222;
  position : fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  max-height: 100px;
}

main {
  margin: 2rem;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  width: 75%;
  max-width: 75%;
}

.windowframe {
  padding: 1rem;
  padding-top: 0.5rem;
  border-radius: 25px;
  background: rgb(32, 13, 7);
}

.window {
  margin-top: 0;
  margin-bottom: 0;
  background-color: antiquewhite;
  border-radius: 15px;
  padding: 1rem;
}

.pageBar {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.barbutton {
  background-color: rgb(185, 76, 109);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.pageTitle {
  
  color: antiquewhite;
}




.sidepanel {
  margin: 2rem;
  width: 15%;
  
  overflow-x: hidden; 
  padding-top: 40px; 

  --spacing: 1.5rem;
  --radius: 10px;
}
.sidepanel li {
  border-radius: 0px !important;
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
  border-left: 2px solid #f1b8a5;
}
.sidepanel ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}
.sidepanel ul li:last-child {
  border-color: transparent;
}
.sidepanel ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + -1rem);
  height: calc(var(--spacing) + 1px);
  border: solid #f1b8a5;
  border-bottom-left-radius: 0.3rem;
  border-width: 0 0 2px 2px;
}
.sidepanel summary {
  display: block;
  cursor: pointer;
}
.sidepanel summary::marker,
.sidepanel summary::-webkit-details-marker {
  display: none;
}
.sidepanel summary:focus {
  outline: none;
}
.sidepanel summary:focus-visible {
  outline: 1px dotted #000;
}
.sidepanel li::after,
.sidepanel summary::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
}
.sidepanel summary::before {
  z-index: 1;
}
.sidepanel details > summary::before {
  background-size: cover;
  background-image: url("folder-closed.svg");
}
.sidepanel details[open] > summary::before {
  background-size: cover;
  background-image: url("folder-opened.svg");
}
.sidepanel li{
  border-radius: 25px;
}
.sidepanel ul li:hover{
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  background-color: rgb(240, 222, 199);
}
.sublist {
  font-size: small;
}
.sublist::after {
  width: 0;
  height: 0;
}

.term {
  position: inherit;
  background-color: rgb(240, 222, 199);
  border-radius: 25px;
  padding: 1rem;
}

.termhead {
  padding: 1rem;
  border-radius: 25px;
}

.card {
  padding-top: 1rem;
  width: 150px;
  max-width: 150px;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
}

.card:hover{
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
  background-color: antiquewhite;
}

.cardimage {
  border-radius: 25px;
}

.cardgrid {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: start;
  row-gap: 1rem;
}


a {
  color: rgb(185, 76, 109);
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
table {
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid #b68f7d;
  border-collapse: collapse;
}
th {
  color: antiquewhite;
  padding: 0.5rem;
  background-color: #b68f7d;
}
td {
  background-color: rgb(240, 222, 199);
  border: 1px solid #b68f7d;
  padding: 0.5rem;
}

.timeshort {
  font-size: medium;
  color: #b68f7d;
}