<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <div style="display: flex; align-items: start; margin: auto; max-width: 1200px;">
    <div class="sidepanel">Home
    <ul>
      {{ range .Site.Taxonomies.categories }}
      <li>  
        <details> 
          <summary href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</summary>
        <ul>
        {{ range .Pages }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
        </ul>
        </details>
      {{ end }}
    </ul>
    </div>
    
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </div>
  
  
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
