{{ define "main" }}

  <div class="windowframe" >
  {{ with .Resources.GetMatch "background.*" }}
  <div class="windowframeimg" style="background-image: url({{ .RelPermalink }});">
  {{ else }}
  <div class="windowframeimg">
  {{ end }}
  <div class = "pageBar">
    <div class="barbutton"></div>
    <div class="pageTitle">{{ .Title }}</div>
    <!-- {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format "January 2006" }}
    <time class="barTime" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> -->
    <time class="barTime">{{ time.Format "January 2006" .Date }}</time>
  </div>
  <div class = "window" >
      
      
      {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </div>
  </div>
  </div>
{{ end }}
